.inner {
  position: absolute;
  left: 150px;
  top: 1300px;
  font-size: 50px;
  color: white;
  margin: auto;
     width: 900px;
     height: 300px;
     transform : scale(1,10);
-webkit-transform:scale(1,10); /* Safari and Chrome */
-moz-transform:scale(1,10); /* Firefox */
-ms-transform:scale(1,10); /* IE 9+ */
-o-transform:scale(1,10); /* Opera */
}

.inner2 {
  position: absolute;
  left: 500px;
  top: 1600px;
  font-size: 50px;
  color: white;
  margin: auto;
     width: 900px;
     height: 300px;
     transform : scale(1,10);
-webkit-transform:scale(1,10); /* Safari and Chrome */
-moz-transform:scale(1,10); /* Firefox */
-ms-transform:scale(1,10); /* IE 9+ */
-o-transform:scale(1,10); /* Opera */
}


body{
 background-color: #000000;
 padding: 0px;
 margin: 0px;
}

#gradient
{
width: 100%;
height: 800px;
padding: 0px;
margin: 0px;
}
